#app {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
}

.cell {
  flex-grow: 1;
  aspect-ratio: 1;
  border: 1px solid darkgray;
}

.cell.open {
  background-color: white;
}
.cell.perimeter {
  background-color: lightgray;
}

.cell.arch {
  background-color: #ddd;
}
.cell.door {
  background-color: lightblue;
}
.cell.locked {
  background-color: pink;
}
.cell.trapped {
  background-color: greenyellow;
}
.cell.secret {
  background-color: magenta;
}
.cell.portcullis {
  background-color: lightsalmon;
}

.cell.empty,
.cell.perimeter {
  background-color: black;
}
